@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Poppins', sans-serif;
}

:root {
  --colorOne: #6d4950;
  --colorTwo: #441a24;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

/* Nav Bar Styles */

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--colorTwo);
}

.nav-logo-img {
  height: 70px;
}

/* Footer Styles */
footer {
  height: 80px;
  background-color: var(--colorTwo);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.nav-links a {
  text-decoration: none;
  list-style: none;
  color: white;
  cursor: pointer;
}

.nav-links a:hover {
  color: #dcdcdc;
}

/* Register Page Styles */

.log-flex {
  display: flex;
  /* height: calc(100vh - 150px); */
  height: calc(100vh - 92.5px);
}

.log-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53%;
  background: url('./components/assets/RegisterPageImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.log-image h1 {
  color: white;
}

.log-image::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -37px;
  width: 80px;
  background-color: var(--colorOne);
  transform: skewX(-5deg);
}
.log-form-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
  background-color: var(--colorOne);
}

.reg-form-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 92.5px);
  background-color: var(--colorOne);
}

.reg-form,
.log-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1rem;
  height: 500px;
  width: 400px;
  background-color: #dcdcdc;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(86, 85, 85, 0.296);
}

.auth-input {
  padding: 0 0.5rem;
  height: 45px;
  background: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.input-49 {
  width: 49%;
}

input[type='submit'] {
  position: relative;
  margin: 0 auto;
  width: 150px;
}
